/* mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-24 */
/* mx-auto flex max-w-7xl items-center justify-between p-6 lg:px-24 pt-0 text-sm/[14px] */
.headerPrincipal{
    --tw-bg-opacity: 1;
    background-color: rgb(0 59 149 / var(--tw-bg-opacity));
    height: 176px ;
}

.navPrincipal{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;   
}


/* mx-2 inline-block hover:opacity-80 hover:bg-blue-800   px-3 py-2 rounded hover:text-white */
.buttonsHeader{
    display: inline-block;
    padding: 10px 12px 10px 12px;
    margin-left: 8px;
    margin-right: 8px;
    border-radius: 4px;
}

.buttonsHeader:hover{
    background-color: rgb(30 64 175);
    opacity: 0.8;
    color: rgb(255 255 255);
    /* background-color: currentcolor;
    opacity: .1; */
    
}


.parentAnucio{
    width: 377px
}

.mensajeOferta{
    background-color: white;
    position: absolute;
    top: 51px;
    right: 50px;
    width: 376px;
    padding: 18px;
    font-size: 13px;
    font-weight: bold;
    border-radius: 10px 10px 0px 0px;
    box-sizing: border-box;
    padding-bottom: 25px;
    z-index: 4;
    border: 0.2px solid #eaeaea;
}


.seccionesHeaderPrincipal{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    
}

.buttonCount{
    color: #006ce4;
    background: white;
    padding: 6px 16px 6px 16px;
    margin-bottom: 2px;
    border-radius: 0.25rem;
    margin-inline-end: 8px;
    font-size: 14px;
    border-color: #dadce0;
    border: 0.2px solid #006ce4;
}

.buttonCount:hover{
    background:#f6f9fa;
    
}
/* rounded-full h-6  */
.iconoBandera img{
    position: relative;
    border-radius: 9999px;
    height: 24px; 
}

/* h-6 fill-white */
.svgAtencionPublico{
    height: 24px; 
    fill: #fff
}

.navSecondary{
    margin-left: auto;
    margin-right: auto;
    display: flex;
    max-width: 1280px;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem;  
    padding-top: 0px;
    font-size: 14px;
    line-height: 1rem;
}



/* grid gap-x-2 gap-y-6 grid-cols-5 text-white */
.listaDesorganizada{
    display: flex;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
    column-gap: 8px; /* 0.5rem */
    color: white;
}


/*  rounded-full outline px-3 py-2 outline-1 */
.listaDesorganizada li:first-child{
    display: flex;
    align-items: center; 
    border-radius: 9999px; 
    outline-width: 1px;
    outline-style: solid;
    background-color: rgb(30 64 175);;

}


/*   px-3 py-2 rounded */
.listaDesorganizada li{
    border-radius: 4px; 
    display: flex;
    align-items: center;
    padding: 10px 12px 10px 12px;    
}


/* hover:opacity-80 hover:bg-blue-800  hover:rounded-full hover:text-white*/
.listaDesorganizada li:hover{
    background-color: rgb(30 64 175);;
    color: white;
    border-radius: 9999px;
    opacity: 0.8;
}

.listaDesorganizada svg{
    fill: #fff;
    margin-left: 8px;
    margin-right: 8px;
    width: 20px;

}


@media (min-width: 1024px) {
    .navPrincipal{
        padding-left: 6rem;
        padding-right: 6rem;
    }
    .navSecondary{
        padding-left: 6rem;
        padding-right: 6rem;
    }
}